
.icon-bin:before { content: '\e800'; } /* '' */
.icon-collapse-all:before { content: '\e801'; } /* '' */
.icon-compare:before { content: '\e802'; } /* '' */
.icon-expand-all:before { content: '\e803'; } /* '' */
.icon-export-excel-copy:before { content: '\e804'; } /* '' */
.icon-image:before { content: '\e805'; } /* '' */
.icon-options:before { content: '\e806'; } /* '' */
.icon-remove₁:before { content: '\e807'; } /* '' */
.icon-remove₂:before { content: '\e808'; } /* '' */
.icon-set-at-baseline:before { content: '\e809'; } /* '' */
.icon-statistics:before { content: '\e80a'; } /* '' */